@{
    ViewBag.Title = "Alert";
}

<h2>Alert</h2>
<br/>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
        </div>
        
        <a class="alert" data-dismiss="alert" href="#">Sample alert</a>

        <script>
            $(function () {
                $(".alert").alert();
            });
        </script>